
h1 {
	color: orange;
	text-align: center;
}

.btn-info {
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.gbook-image {
  background-image: url("gbook.jpg"); /* The image used */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 1000px 1000px;  /*Resize the background image to cover the entire container */
}


/*

.product-view
h1            {  background: url("../images/image.jpg") repeat scroll 50% 0 transparent;
border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
color: #FFFFFF;
font-size: 16px;
font-weight: normal;
height: 28px;
padding-left: 20px;
padding-top: 6px; }
*/